@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$text-color: white;
$color-primary: black;
$color-secondary: #7c7c7c2b;
$font-primary : 'Titillium Web', sans-serif;

body {
    background: url("https://source.unsplash.com/random/1600x900/?city/") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
}

.container {
    background-color: $color-primary;
    color: $text-color;
    border-radius: 30px;
    width: 50vw;
    opacity: 0.8;
    font-family: $font-primary;
    flex-direction: column;
    margin: 1em;
    padding: 2em;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;

    .search-bar {
        padding: 0.4em 1em;
        border-radius: 24px;
        background-color: gray;
        opacity: 1;
        border: none;
        outline: none;
        color: $text-color;
        background: $color-secondary;
        font-size: 105%;
        font-family: $font-primary;
        width: 90%;
    }

    .search-btn {
        border-radius: 50%;
        margin: 0.5em;
        border: none;
        outline: none;
        cursor: pointer;
        height: 45px;
        width: 45px;
        background-color: $color-secondary;
        color: $text-color;
        font-weight: bold;
        transition: 0.2s ease-in-out;
    }

    .search-btn:hover {
        background-color: #7c7c7c6b;
    }

}

.weather {
    h2 {
        font-size: 2.6rem;
    }
    .temp {
        font-size: 4rem;
        font-weight: bold;
    }

    @mixin info() {
        font-size: 1.5rem;
    }

    .humid,.wind,.max-temp,.min-temp {
        @include info;
    }

    .min-temp {
        margin-top: 50px;
    }

    .wind {
        margin-bottom: 1em ;
    }
}

footer {
    font-family: $font-primary;
    color: $text-color;
    font-size: 1.2rem;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1em;
    margin-bottom: 5px;
    letter-spacing: 2;
    span {
        font-weight: bolder;
    }
}

@media screen and (max-width: 740px) {
    .container {
        width: auto;
        padding: 1em;
    }
    
    .search {
        margin-top: 0;
    }

    .weather {
        h2 {
            font-size: 1.5rem;
        }
        .temp {
            font-size: 4rem;
            font-weight: bold;
        }
    
        @mixin info() {
            font-size: 1rem;
        }
    
        .humid,.wind,.max-temp,.min-temp {
            @include info;
        }
    
        .min-temp {
            margin-top: 50px;
        }
    
        .wind {
            margin-bottom: 0.2em ;
        }
    }
}